<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-6"><a class="btn btn-primary" routerLink="/admin" style="width: 100%;">Go to Admin</a></div>
    <div class="col-md-6"><a class="btn btn-primary" routerLink="/job" style="width: 100%;">Go to HomePage</a></div>
  </div>

  <router-outlet></router-outlet>

</div>
<div class="row" style="background-color: gainsboro; text-align: center; height: 50px;">
  <p style="padding-top: 15px;">Angular Course Assignment 2</p>
</div>


